<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link rel="stylesheet" th:href="@{/css/new.css}" />
	<link rel="stylesheet" th:href="@{/css/header.css}" />
	<script th:src="@{/js/editPage.js}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<meta charset="UTF-8">
	<title>掲示板登録</title>
</head>
<body>
<div th:replace="~{common/header :: headerFragment}"></div>

<h1>掲示板登録</h1>
<form method="post" th:action="@{/create}" th:object="${formModel}" enctype="multipart/form-data">
<input type="hidden" name="id" th:value="*{id}">
<table border="1">
  <tr>
      <th class="col_title">タイトル</th>
      <td class="col_data">
        <input type="text" name="title" th:value="*{title}"  />
      </td>
  </tr>
  <tr>
      <th>内容</th>
      <td>
        <input type="text" name="content" th:value="*{content}" />
      </td>
  </tr>
  <tr>
    <th>ファイル</th>
    <td>
      <input type="file" name="file" onchange="displayImage(this)" />
      <img id="selectedImage" th:src="*{fileName}"  width="300" height="200" alt="Selected Image" style="display:none;"/>
      
    </td>
  </tr>
</table>
<hr>
<input type="submit" value="登　録" />
</form>
<form action="/list">
    <input type="submit" value="戻　る" />
</form>
</body>
</html>