<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" th:href="@{/css/show.css}" />
	<link rel="stylesheet" th:href="@{/css/header.css}" />
	
	<link rel="stylesheet" th:href="@{/css/color.css}" />
	<meta charset="UTF-8">
	
	<script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
	<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
	<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
	<title>掲示板詳細</title>
</head>

<body>
<div th:replace="common/header :: headerFragment"></div>

<div class="bulletin-details">
	<h1>掲示板詳細</h1>
	<table border="1">
	  <tr>
	      <th class="col_title">タイトル</th>
	      <td class="col_data" th:text="${formModel.title}"></td>
	  </tr>
	  <tr>
	      <th>内容</th>
	      <td class="col_data" th:text="${formModel.content}"></td>
	  </tr>
		<tr>
		    <th>ファイル</th>
		    <td class="col_data">
		    	<img id="selectedImage" th:src="${formModel.fileName}" width="300" height="200" alt="No File" style="display:block;"/>
		    </td>
		</tr>
	  <tr>
	      <th>作成者</th>
	      <td class="col_data" th:text="${formModel.user.name}"></td>
	  </tr>  
	  <tr>
	      <th>作成日</th>
	      <td class="col_data" th:text="${#temporals.format(formModel.createDate, 'yyyy/MM/dd HH:mm')}"></td>
	  </tr>  
	</table>
	<hr>
	<form action="/edit" method="get">
	    <input type="submit" value="編集">
	    <input type="hidden" name="id" th:value="${formModel.id}">
	</form>
	<form action="/list" method="get">
	    <input type="submit" value="戻　る" />
	</form>
	<div id="react-component"></div>
	<script th:src="@{/js/react/sample.js}" ></script>
	<script th:src="@{/js/react/bulletinComment.js}" ></script>
	
</div>
</body>
</html>