<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    
</head>
<body>
    <div th:fragment="headerFragment">
    	<div class="common-header">
				<a th:href="@{/list}">
					<div>TOP</div>
				</a>	
	      <div class="logout-container">
	      	<a th:href="@{/myPage}">
	      		<div class="user-name" th:text="${loginUser.name}"></div>
	      	</a>
	        <form th:action="@{/logout}" method="post">
			        <input type="submit" value="ログアウト" class="logout-button" />
			    </form>
	      </div>
	  	</div>
    </div>
</body>
</html>