<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>ユーザー登録</title>
</head>
<body>
    <h2 class="heading">ユーザー登録</h2>
    <form method="post" th:action="@{/signUp}" th:object="${signUpForm}">
        <label for="userid">ID</label>
        <input type="text" id="userid" name="userId" th:value="*{userId}"><br>
        <label for="username">ユーザー名</label>
        <input type="text" id="username" name="name" th:value="*{name}"><br>
        <label for="password">パスワード</label>
        <input type="password" id="password" name="encodedPassword" th:value="*{encodedPassword}"><br>
        <button type="submit">登録</button>
    </form>
    <a href="/login">ログイン画面</a>
</body>
</html>