@charset "UTF-8";

:root {
    --color-gray-0: #fff;
    --color-gray-5: #f9fafa;
    --color-gray-10: #f5f6f6;
    --color-gray-20: #edeeee;
    --color-gray-30: #dfe0e0;
    --color-gray-40: #bcbdbd;
    --color-gray-50: #9c9e9e;
    --color-gray-60: #7a7d7d;
    --color-gray-70: #5e6060;
    --color-gray-80: #494b4b;
    --color-gray-90: #3a3c3c;
    --color-gray-100: #2f3232;
    --color-gray-110: #1d2020;
    --color-green-10: #e3f7df;
    --color-green-20: #bfeeb4;
    --color-green-30: #a5e987;
    --color-green-40: #85d854;
    --color-green-50: #71cf2f;
    --color-green-60: #55c500;
    --color-green-70: #46a900;
    --color-green-80: #378d00;
    --color-green-90: #287100;
    --color-green-100: #195500;
    --color-green-110: #0a3900;
    --color-blue-10: #eaf3fb;
    --color-blue-20: #d0e6f6;
    --color-blue-30: #a5ceee;
    --color-blue-40: #83bbe7;
    --color-blue-50: #5ca7e0;
    --color-blue-60: #4097db;
    --color-blue-70: #3683bf;
    --color-blue-80: #2c6fa2;
    --color-blue-90: #235a86;
    --color-blue-100: #194669;
    --color-blue-110: #0f324d;
    --color-yellow-10: #fdf9e2;
    --color-yellow-20: #fcf0bf;
    --color-yellow-30: #fbe29d;
    --color-yellow-40: #fad47a;
    --color-yellow-50: #f9c258;
    --color-yellow-60: #f7a535;
    --color-yellow-70: #d58d2c;
    --color-yellow-80: #b07222;
    --color-yellow-90: #8d5817;
    --color-yellow-100: #6c4010;
    --color-yellow-110: #502d08;
    --color-red-10: #feebee;
    --color-red-20: #fbd0d6;
    --color-red-30: #f3a5b4;
    --color-red-40: #ec7e94;
    --color-red-50: #e75573;
    --color-red-60: #d60a34;
    --color-red-70: #be0a2c;
    --color-red-80: #a50a23;
    --color-red-90: #8d0a1b;
    --color-red-100: #740a12;
    --color-red-110: #5c0a0a;
    --color-background: var(--color-gray-10);
    --color-surface: var(--color-gray-0);
    --color-surface-variant: var(--color-gray-20);
    --color-text-disabled: rgb(0 0 0 / 38%);
    --color-text-medium-emphasis: rgb(0 0 0 / 60%);
    --color-text-high-emphasis: rgb(0 0 0 / 87%);
    --color-divider: rgb(0 0 0 / 12%);
    --color-scrim: rgb(0 0 0 / 32%);
    --color-green-container: var(--color-green-20);
    --color-blue-container: var(--color-blue-20);
    --color-yellow-container: var(--color-yellow-20);
    --color-red-container: var(--color-red-20);
    --font-size-headline-1: 32px;
    --font-size-headline-2: 24px;
    --font-size-subhead-1: 20px;
    --font-size-subhead-2: 18px;
    --font-size-body-1: 16px;
    --font-size-body-2: 14px;
    --font-size-body-3: 12px;
    --line-height-headline: 1.4;
    --line-height-subhead: 1.6;
    --line-height-subhead-dense: 1.4;
    --line-height-body: 1.8;
    --line-height-body-dense: 1.5;
    --color-twitter: #000000;
    --color-github: #1A1414;
    --color-hatena-blog: #333333
}