@charset "UTF-8";

#map {
    height: 100%;
    width: 100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

.button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #ffffff;     /* 背景色     */
  color         : #330033;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #ffffff;    /* 枠の指定 */
}
.button:hover {
  color         : #ffffff;     /* 背景色     */
  background    : #330033;     /* 文字色     */
}

nav.navigation {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: fit-content;
    position: sticky;
    top: 16px;
    z-index: 5;
}

div#main-area {
    background: var(--color-background);
    display: flex;
    gap: 56px;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 16px 24px 0px;
    height: calc(100% - 88px);
    width: 100%;
    margin: 0;
}
.content-area {
    max-width: 820px;
    width: calc(100% - 40px - 300px - 112px);
    height: calc(100% - 64px);
    background-color: var(--color-surface);
    border-radius: 8px;
    padding: 32px 56px;
    margin-bottom: 24px;
}

.comment-header{
	display: flex;
	position: relative;
}

.box-design15 {
  margin: 20px auto;
}

.bulletin-link{
	width: 100%;
}

button.comment-delete-btn {
    position: absolute;
    left: 90%;
    top: 12px;
}

.box-design15-ttl {
  background-color: #4c9ac0;
  color: #fff;
  padding: 0.5em 20px;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
.box-design15-txt {
  padding: 10px 20px;
  border: 2px solid #4c9ac0;
}
